* {font-family:arial,helvetica,sans-serif}
body {font-size:75%;margin:0;padding:0;}
#topBar {margin:0;padding:0;line-height:5px;height:5px;background-color:#dddece}
#main {width:981px;margin:0 auto;padding:0 7px;background-color:#fff}
#masthead {margin-top:-1px;padding:0}
#logo {float:left;margin-left:14px}
#frmSearch {float:right;margin-top:-1px;background:#dddece url('img/hp/search_corner.gif') no-repeat bottom left; ; padding-left:5px; padding-right:5px; padding-top:3px; padding-bottom:5px}
#utility {float:right;margin-right:20px;padding-top:3px;color:#ccc}
#tabNav {float:none;vertical-align:top;line-height:normal;background:url('img/hp/grey_spacer.gif') repeat-x bottom left; ; margin-left:0; margin-right:0; margin-top:-20px; margin-bottom:0; padding-left:275px; padding-right:0; padding-top:0; padding-bottom:0}
#tabNav ul {float:left;list-style-type:none;padding:0;margin:0}
#tabNav li {float:left;list-style-type:none;padding:0;margin:0}
#tabNav ul a {display:block;border-left:1px solid #ccc;color:#7e8f9b;font-weight:bold;text-decoration:none;background:url('img/hp/unselected_tab.jpg') no-repeat top right; ; margin-left:0; margin-right:2px; margin-top:0; margin-bottom:0; padding-left:15px; padding-right:15px; padding-top:5px; padding-bottom:5px}
#tabNav ul a:hover {color:#30659a;text-decoration:none}
#tabNav li.tabOn {font-weight:bold;color:#369;border-left:1px solid #b3b1b1;border-bottom:medium none;background:url('img/hp/selected_tab.gif') no-repeat top right; ; margin-left:0; margin-right:2px; margin-top:0; margin-bottom:0; padding-left:15px; padding-right:15px; padding-top:5px; padding-bottom:6px}
#container {width:981px;margin:11px 0 0 0;padding:0;vertical-align:top}
#signon {float:left;width:232px;margin:0;border:1px solid #9bb2c8;background:url('img/hp/login_background.jpg') repeat-x top left; ; padding-left:0; padding-right:0; padding-top:15px; padding-bottom:0}
#signon p {margin:0 5px 10px 15px;line-height:1.5em;}
#signon h2 {margin:0 5px 0px 15px;padding:0;color:#666;font-size:120%;font-family:Myriad,Arial,Helvetica;}
#signon h3 {margin:0 5px 0px 15px;padding:0;font-size:100%;}
#signon h2#hdrSignon {color:#000;font-size:150%;background:url('img/hp/hp_lock.gif') no-repeat 92% top; ; margin-left:0; margin-right:0; margin-top:0; margin-bottom:10px; padding-left:15px; padding-right:0; padding-top:0; padding-bottom:0}
#signon ul {margin:0 5px 5px 15px;list-style-type:none;padding-left:0px;line-height:1.5em;}
#signon select {font-size:90%}
#persMsg {line-height:normal;font-weight:bold}
#frmSignon {margin:0 15px 10px 15px}
#frmSignon label {font-size:90%}
#frmSignon input {font-size:100%}
#frmSignon div {margin:0 0 7px 0}
#frmLocator {margin:0 15px 10px 15px}
#frmLocator input {font-size:90%;color:#999}
#stagecoach {display:block;margin-bottom:-3px}
html>body #stagecoach {margin:0}
#content {float:left;width:731px;margin:0 0 0 15px;padding:0;background-color:#fff}
#mainAd {margin:0 0 10px 0}
#navContainer {float:left;clear:right;width:729px;margin:0;height:auto;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;background:url('img/hp/product_list_bg_bottom2.jpg') repeat-x top; }
#navContainer div {float:left;width:243px;padding:0;margin:0}
#navContainer div h2 {font-size:130%;font-family:Myriad,Arial,Helvetica;color:#666;background:url('img/hp/product_list_bg.gif') repeat-x top; ; margin-left:0; margin-right:0; margin-top:0; margin-bottom:5px; padding-left:8px; padding-right:0; padding-top:4px; padding-bottom:4px}
#navContainer div ul {margin:0 0 5px 0;padding-left:10px;list-style-type:none}
#navContainer div ul li {padding-bottom:3px}
#navContainer div ul li a {font-weight:bold}
#navLeft h2 {border-right:1px solid #ccc;}
#navMid h2 {border-right:1px solid #ccc;border-left:1px solid #fff;}
#navRight h2 {border-left:1px solid #fff;}
#navBottom {width:731px;clear:left;padding:0;height:7px;line-height:7px;background:url('img/hp/product_list_shadow.gif') repeat-x top; ; margin-left:0; margin-right:0; margin-top:0; margin-bottom:0px}
/*  Biz specific styles */
#navContainerBiz {float:left;clear:right;width:731px;margin:0;height:auto}
#navContainerBiz div ul li {padding-bottom:3px}
#navContainerBiz div ul li a {font-weight:bold}
#navLeftBiz {float:left;width:237px;padding:0;margin:0 5px 0 0}
#navMidBiz {float:left;width:237px;padding:0;margin:0 5px} 
#navRightBiz {float:left;width:237px;padding:0;margin:0 0 0 5px} 
#navLeftBiz h2, #navMidBiz h2, #navRightBiz h2 {font-size:130%;font-family:Myriad,Arial,Helvetica;color:#666;background:url('img/hp/product_list_bg.gif') repeat-x top; ; margin-left:0; margin-right:0; margin-top:0; margin-bottom:5px; padding-left:8px; padding-right:0; padding-top:4px; padding-bottom:4px}
#navLeftBiz h3, #navRightBiz h3 {margin:10px 0 4px 0;padding:10px 0 0 0;border-top:1px solid #dedece;font-size:115%;font-family:Myriad,Arial,Helvetica;color:#999}
#navLeftBiz ul, #navMidBiz ul, #navRightBiz ul {margin:0 0 5px 0;padding-left:10px;list-style-type:none}
#navLeftBiz select {float:left;width:188px;margin:0 6px 0 0;font-size:90%}
#navRightBiz select {float:left;width:188px;margin:0 6px 5px 0;font-size:90%}
#navLeftBiz a.sub, #navMidBiz a.sub, #navRightBiz a.sub {font-weight:normal}
#navLeftBiz a.last, #navMidBiz a.last, #navRightBiz a.last {font-weight:normal;text-decoration:none;padding-right:12px;background:url('img/hp/caret_header.gif') no-repeat top right; }
/* End Biz specific styles */
a.signonHelp:link, a.signonHelp:hover, a.signonHelp:visited {padding-left:2px;font-size:90%;text-decoration:underline}
a:link, a:visited {color:#369;text-decoration:none}
a:hover, a:active {color:#4986ff;text-decoration:underline}
form {margin:0;padding:0}
img {border:none}
div {vertical-align:top}
p {margin:0 0 12px 0}
.rowContainer {padding:0;margin:0}
.contentSm, .contentSmLeft {float:left;width:243px;margin:0;padding:0;vertical-align:top;}
.contentSmLeft {margin-left:0}
.contentSm h3 {margin:0 0 4px 8px;font-size:115%;font-family:Myriad,Arial,Helvetica;color:#666;}
.contentSmLeft h3 {margin:0 0 4px 0;font-size:115%;font-family:Myriad,Arial,Helvetica;color:#666;}
.contentSm select {float:left;width:174px;margin:0 6px 0 8px;font-size:90%}
.contentSmLeft select {float:left;width:174px;margin:0 6px 0 0;font-size:90%}
.contentSm input, .contentSmLeft input {clear:right;margin:0}
.contentSm p, .contentSmLeft p {margin:0 6px 0 8px;padding:0}
img.adv {padding:11px 0 0 8px}
#navRightBiz img.adv {padding-left:0}
.contentSmLeft img.adv {padding-left:0}
.contentMedium {float:left;width:480px;height:84px;margin:0;padding:0;vertical-align:top;overflow:hidden}
.contentLarge {width:731px;height:84px;margin:0;padding:0;vertical-align:top;overflow:hidden}
.clearAll {display:inherit;clear:left;height:0;line-height:0}
.signonDivider {margin:0 0 4px 0;padding:0;height:1px;line-height:1px;background-color:#9bb2c8}
.divider {margin:0 0 24px 0;padding:0;height:1px;line-height:1px;background-color:#b3b1b1}
html>body .divider {margin-top:0}
#footer {margin:0;text-align:center;font-size:90%;color:#666}
.notnot {width:490px;margin:0 auto 22px auto;padding:2px 0;border:1px solid #ccc}
#footerNav, .discl, #copyright {width:610px;margin:0 auto 18px auto}
.new {color:red}
a.signup:link, a.signup:hover, a.signup:active, a.signup:visited {text-decoration:underline}
a.sub:link, a.sub:hover, a.sub:active, a.sub:visited {text-decoration:underline}
#navContainer div ul li a.sub {font-weight:normal}
#navContainer div ul li a.last {font-weight:normal;text-decoration:none;padding-right:12px;background:url('img/hp/caret_header.gif') no-repeat top right; }
a.setHome {display:block;float:right;margin-top:-18px}
#emergency {margin:10px 0 15px 0;line-height:1.6em}
#emergency a:link, #emergency a:hover, #emergency a:active, #emergency a:visited {text-decoration:underline}
.info {color:#666;background:url('img/hp/info_icon.gif') no-repeat top left; ; padding-left:40px; padding-right:0; padding-top:5px; padding-bottom:20px }
.alert {color:#900}
.hide {display:none} 
